.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* by ccs */
.logFilter {
  width: 50%; /* define a largura do campo */ 
  position: relative;  /* cria o contexto de posicionamento do botão */ 
}
label {display:block;}
input {width: 50%;} /* define a largura do campo igual a largura do container */
input,  button {padding: 10px;}
input {background: burlywood;}
button {
  position: absolute;   
  top: 10; 
  right: 10;
  /* posiciona o botão em relação ao container, mas
  como o campo está exatamente contido no container
  o posicionamento se dá também em relação ao campo */
}


/***** Para classe de data busca *****/
.dataFilter {
  width: 50%; /* define a largura do campo */ 
  position: relative;  /* cria o contexto de posicionamento do botão */ 
}
label {display:block;}
input {width: 50%;} /* define a largura do campo igual a largura do container */
input,  button {padding: 10px;}
input {background: rgb(122, 241, 249);}
button {
  position: absolute;   
  top: 20; 
  right: 20;
  /* posiciona o botão em relação ao container, mas
  como o campo está exatamente contido no container
  o posicionamento se dá também em relação ao campo */
}
