*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
  
}

body{
  background-color: #3E3E3E;  
}

.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}

.logHeader {
  color: white;
  height: 90px;
  display: flex;
  padding: 0 20px;
  align-items: center;  
  justify-content: space-between;
  background-color: #333333;  
  overflow-y: auto;
}

.logFilter{
  display: flex;
  min-width: 700px;
  justify-content: space-evenly;  
  
}

.logFilter input{
  width: 180px;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
}
.logFilter .filterChecbox{
  /* display: flex;   */
  /* justify-content: center; */
  /* align-items: center; */
}

.logFilter .filterReceived{
  display: flex;  
  /* justify-content: center; */
  align-items: center;
}

.logFilter .filterReceived input{
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.logFilter .filterReceived label{
  font-size: 12px;  
}

.content {  
  flex: 1;  
  display: flex;
  padding: 10px;
  flex-direction: column;
  overflow-y: auto;
}

.content::-webkit-scrollbar {
  width: 12px;
  height: 4px;  
}

.content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  
}

.item{
  display: flex;
  color: white;
  margin-bottom: 5px;    
}

.item p{
  margin-right: 15px;
  min-width: 220px;  
  max-width: 150px;  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemMessage{
  max-width: 600px !important;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

